.table-container {
  position: relative;
  width: 1200px;
  height: 350px;
  overflow: overlay;
  max-width: 50%;
}

table {
  border-collapse: collapse;
  width: 1000px;
  overflow-x: scroll;
  table-layout: fixed;
  overflow: overlay !important;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
} */
.fixed {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.pagination button {
  margin: 0 8px;
  padding: 4px 8px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

tr>th:first-child{
  position: fixed;
  z-index: 1000;
  width: 232px;
}